# SSH Keys
*.pem
*.ppk
id_rsa
id_ed25519
id_ed25519.pub

# WireGuard private keys
privatekey
*.key

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.bak

# OS files
.DS_Store
Thumbs.db

# Python cache
__pycache__/

# Ansible retry files
*.retry

# VS Code
.vscode/

# Terraform (future)
.terraform/

# Sensitive configs
.env
