global
	log 127.0.0.1 local0
	maxconn 100

defaults
	log global
	mode http
	option httplog
	timeout connect 5s
	timeout client 50s
	timeout server 50s

frontend http_front
	bind *:80
	default_backend web_servers

backend web_servers
	balance roundrobin
	option httpchk
	server backend01 <server_ip_address>:80 check
	server backend02 <AZURE_PUBLIC_IP>:80 check
